<!--<sca-menutab menu="appconf.menu" active="'recon'" user="user"></sca-menutab>-->
<bread instid="instid" breads="appconf.breads" active="'addinput'"></bread>
<div class="container">
    <h3>Add Input</h3>

    <div class="page">
        <div class="form-group">
            <tabset>
                <tab index="0" heading="Upload">
                    <br>
                    <p>Please upload .nii files you'd like to process.</p>
                    <sca-uploader instid="instance._id" taskid="appconf.input_task_id" files="files"></sca-uploader>
                    <div class="pull-right">
                        <button type="button" class="btn" ng-click="back()">Back</button>
                        <button type="button" class="btn btn-primary" ng-click="doneupload(files)" ng-if="files.length > 0">Next</button>
                    </div>
                </tab>
                <tab index="1" heading="From URL">
                    <br>
                    <div class="form-group">
                        <label for="subject">URL</label>
                        <input type="text" class="form-control" ng-model="url" placeholder="http://somewhere.com/somepath/some.nifti">
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn" ng-click="back()">Back</button>
                        <button type="button" class="btn btn-primary" ng-click="fromurl(url)">Next</button>
                    </div>
                </tab>
                <tab index="1" heading="From DC2">
                    <br>
                    <p class="alert alert-warning">TODO</p>
                    <div class="form-group">
                        <label for="subject">URL</label>
                        <input type="text" class="form-control" ng-model="path" placeholder="/N/dc2/hayashis/somedir/some.nifti">
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn" ng-click="back()">Back</button>
                        <button type="button" class="btn btn-primary" ng-click="fromdc2()">Next</button>
                    </div>
                </tab>
                <tab index="1" heading="From SDA">
                    <br>
                    <p class="alert alert-warning">TODO</p>
                    <div class="form-group">
                        <label for="subject">URL</label>
                        <input type="text" class="form-control" ng-model="path" placeholder="mysda/somedir/some.nifti">
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn" ng-click="back()">Back</button>
                        <button type="button" class="btn btn-primary" ng-click="fromsda()">Next</button>
                    </div>
                </tab>
                <tab index="1" heading="From SCA Workflow">
                    <br>
                    <p class="alert alert-warning">TODO</p>
                    <div class="pull-right">
                        <button type="button" class="btn" ng-click="back()">Back</button>
                        <button type="button" class="btn btn-primary" ng-click="fromsca()">Next</button>
                    </div>
                </tab>
            </tabset>
            <br clear="both">
        </div>
    </div>
    <br>
</div>

