<sca-breadcrumb breads="appconf.breads" active="'input'"></sca-breadcrumb>
<div class="container">
    <h3>Task <small class="text-muted">{{taskid}}</small></h3>
    <div class="page">
        <sca-wf-taskdeps taskid="taskid" conf="appconf"></sca-wf-taskdeps>
        <!--
        <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="stop()" 
                ng-if="task.status == 'running'"><i class="fa fa-stop" aria-hidden="true"></i> Stop
            </button>
            <button type="button" class="btn btn-warning" ng-click="rerun()" 
                ng-if="task.status == 'failed' || task.status == 'finished' || task.status == 'stopped'">
                <i class="fa fa-repeat" aria-hidden="true"></i> Rerun
            </button>
        </div>
        -->
        <button type="button" class="btn" ng-click="back()">Back</button>
    </div>

    <h3>Output Files</h3>
    <div class="page">
        <!--<p ng-if="task.status != 'finished'" class="text-muted">Maybe incomplete until the job is finished.</p>-->
        <sca-product-raw conf="appconf" taskid="taskid" path="path" jwt="jwt"></sca-product-raw>
    </div>
</div>
